/alumnos.frm
/alumnos.ibd
/clases.frm
/clases.ibd
/coches.frm
/coches.ibd
/db.opt
/profesores.frm
/profesores.ibd
/profesores_coches.frm
/profesores_coches.ibd
/roles.frm
/roles.ibd
/usuarios.frm
/usuarios.ibd
/usuarios_roles.frm
/usuarios_roles.ibd
