.oscuro-header{
	background-color:#152232!important;
}

.oscuro{
	background-color:#0A1625!important;
}

.oscuro-panel{
	background-color: #151F2E!important;
}

.blue-letter{
	color: #ACD5F2!important;
}

.blue-letter-light{
	color: #C9D7E3!important;
}