<!DOCTYPE html>
<html lang="en">

<head th:insert="librerias::librerias">

</head>

<body class="container-fluid theme theme-letter">
	<div th:insert="top"></div>
	<div class="container">



		<h1>Registro de Alumnos</h1>

		<table class="table theme-letter">
			<thead class="bg-info theme-panel">
				<tr>
					<td>ID</td>
					<td>Dni</td>
					<td>Nombre alumno</td>
					<td>Coche</td>
					<td>Nombre Profesor</td>
					<td sec:authorize="hasAuthority('ROLE_ADMIN')" colspan="2">Acciones</td>

				</tr>
			</thead>
			<tbody class="theme-letter-light">
				<tr th:if="${listaAlumnos.Empty}">
					<td colspan="2">No hay alumnos </td>
				<tr th:each="alumno:${listaAlumnos}">
					<td>
						<a th:href="@{/alumnos/{id}(id=${alumno.id})}" class="btn btn-primary btn-sm">
							<span th:text="${alumno.id}"></span>
						</a>
					</td>
					<td>
						<span th:text="${alumno.dni}"> </span>
					</td>
					<td>
						<span th:text="${alumno.nombre}"> </span>
					</td>
					<td>
						<span th:text="${alumno.coche.matricula}"></span>
					</td>
					<td>
						<span th:text="${alumno.profesor.nombre}"></span>
					</td>

					<td sec:authorize="hasAuthority('ROLE_ADMIN')">
						<button  th:attr="data-target='#modal-edit'+${alumno.id}" data-toggle="modal"
							data-target="#modal-edit" class="btn btn-primary btn-sm text-white pointer modifyButton">
							Modificar
						</button>
					</td>
					<td sec:authorize="hasAuthority('ROLE_ADMIN')">
						<a th:attr="data-target='#modal-delete'+${alumno.id}" data-toggle="modal"
							data-target="#modal-delete" class="btn btn-primary btn-sm text-white pointer">
							Eliminar
						</a>
					</td>


			</tbody>
		</table>

		<div>
			<div class="row d-flex flex-row">
				<div class="col-md-auto mb-3">
					<button sec:authorize="hasAuthority('ROLE_ADMIN')" class="btn btn-primary" type="button"
						data-toggle="modal" data-target="#crearAlumno"> Añadir
						alumno </button>

				</div>

				<div th:object="${alumno}" class="col-md-auto mb-3">
					<button th:attr="data-target='#modal-search'" class="btn btn-primary" type="button"
						data-toggle="modal" data-target="#buscarAlumnoPorNombre">Buscar por nombre</button>
				</div>

				<div th:object="${alumnoDni}" class="col-md-auto mb-3">
					<button th:attr="data-target='#modal-search-Dni'" class="btn btn-primary" type="button"
						data-toggle="modal" data-target="#buscarAlumnoPorDni">Buscar por DNI</button>
				</div>
			</div>
			
			<div id="error-message" class="alert alert-danger w-50 m-auto text-center p-5 mt-3" th:if="${error}">
				[[${error}]]
			</div>
		</div>


		<!-- buscar por dni modal-->
		<div th:each="alumno:${listaAlumnos}">
			<div class="modal fade" th:id="modal-search-Dni">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header theme-header">
							<h4 class="modal-title" id="exampleModalLabel">Buscar Alumno</h4>
							<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">x</span>
							</button>
						</div>
						<div class="modal-body theme">
							<p class="error-text">Introduce el DNI para buscar</p>


							<!--formulario dni-->
							<form th:action="@{/alumnos/searchDni}" th:object="${alumnoaBuscar}" method="post"
								class="needs-validation" novalidate>
								<div class"form-row">
									<div class="form-group mt-1">
										<label for="texto">DNI</label>
										<input type="text" th:field="*{dni}" class="form-control campo-form" id="exampleInputDni"
											required pattern="[0-9]{8}[a-zA-Z]" placeholder="DNI" />
										<div class="alert alert-danger invalid-feedback">
											Un DNI está formado por 8 números seguidos de una letra
										</div>
									</div>
								</div>
						</div>
						<div class="modal-footer theme-header">
							<button class="btn btn-secondary btn-sm" data-dismiss="modal"
								aria-hidden="true">Cancelar</button>
							<input id="sentDni" type="submit" th:value="Buscar" class="btn btn-primary float-right" />
						</div>
						</form>
					</div>
				</div>
			</div>

		</div>
		<!-- fin modal buscar por dni-->



		<!-- buscar por nombre modal-->
		<div th:each="alumno:${listaAlumnos}">
			<div class="modal fade" th:id="modal-search">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header theme-header">
							<h4 class="modal-title" id="exampleModalLabel">Buscar Alumno</h4>
							<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">x</span>
							</button>
						</div>
						<div class="modal-body theme">
							<p class="error-text">Introduce el nombre para buscar</p>


							<!--formulario nombre-->
							<form action="#" th:action="@{/alumnos/searchName}" th:object="${alumnoaBuscar}"
								method="post">
								<div class"form-row">
									<div class="form-group mt-1">
										<label for="texto">Nombre</label>
										<input type="text" th:field="*{nombre}" class="form-control campo-form"
											id="exampleInputName" placeholder="Nombre" />
									</div>
								</div>
						</div>
						<div class="modal-footer theme-header">
							<button class="btn btn-secondary btn-sm" data-dismiss="modal"
								aria-hidden="true">Cancelar</button>
							<input id="sent" type="submit" th:value="Buscar" class="btn btn-primary float-right" />
						</div>
						</form>
					</div>
				</div>
			</div>

		</div>
		<!-- fin modal buscar por nombre-->

		<!-- create modal-->
		<div class="modal fade" id="crearAlumno">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header theme-header">
						<h4 class="modal-title" id="exampleModalLabel">Crear alumno/a</h4>
						<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">x</span>
						</button>
					</div>
					<div class="modal-body theme">
						<p class="error-text">Introduce el nombre para nuevo/a alumno/a:
							<!--formulario nombre a editar-->
						<form action="#" th:action="@{/alumnos/add/}" th:object="${alumnoNuevo}" method="post"
							class="needs-validation" novalidate>
							<div class"form-row">
								<div class="form-group mt-1">
									<div class="form-group mt-1">
										<label for="texto">DNI</label>
										<input type="text" th:field="*{dni}" class="form-control campo-form" id="exampleInputDni"
											required pattern="[0-9]{8}[a-zA-Z]" placeholder="DNI" />
										<div class="alert alert-danger invalid-feedback">
											Un DNI está formado por 8 números seguidos de una letra
										</div>
									</div>
									<label for="nombre">Nombre</label>
									<input type="text" th:field="*{nombre}" class="form-control campo-form" id="nombre"
										placeholder="Nombre" required />
									<label for="apellidos">Apellidos</label>
									<input type="text" th:field="*{apellidos}" class="form-control campo-form" id="apellidos"
										placeholder="Apellidos" required />
									<div>
										<label for="profe">Profesor</label>
										<select th:field="*{profesor.id}" name="profesor" id="profe"
											class="form-select campo-form">
											<option th:each="profe:${listaProfesores}" th:value="${profe.id}"
												th:text="${profe.nombre}" value="" class="campo-form">Seleccionar profesor</option>
										</select>
									</div>
									<div>
										<label for="coche">Coche</label>
										<select th:field="*{coche.id}" name="profesor" id="coche" class="form-select campo-form">
											<option th:each="coche:${listaCoches}" th:value="${coche.id}"
												th:text="${coche.marca}+'-'+${coche.matricula}" value="" class="campo-form">Seleccionar
												coche
											</option>
										</select>
									</div>
								</div>
							</div>
					</div>
					<div class="modal-footer theme-header">
						<button class="btn btn-secondary btn-sm" data-dismiss="modal"
							aria-hidden="true">Cancelar</button>
						<input type="submit" value="Crear" class="btn btn-primary float-right" />
					</div>
					</form>
				</div>
			</div>
		</div>
		<!-- fin create modal-->

		<!--delete modal-->
		<div th:each="alumno:${listaAlumnos}">
			<div class="modal fade" th:id="modal-delete+${alumno.id}">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header theme-header">
							<h4 class="modal-title" id="exampleModalLabel">Borrar</h4>
							<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">x</span>
							</button>
						</div>
						<div class="modal-body theme">
							<p class="error-text">Seguro que quieres borrar a este alumno?
								<strong><span th:text="${alumno.nombre}"> </span></strong>
							</p>
						</div>
						<div class="modal-footer theme-header">
							<button class="btn btn-secondary btn-sm" data-dismiss="modal"
								aria-hidden="true">Cancelar</button>
							<form th:action="@{/alumnos/delete/{id}(id=${alumno.id})}" th:method="GET">
								<button type="submit" name="submit" value="value"
									class="btn btn-danger btn.sm">Borrar</button>
							</form>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- fin delete modal-->

		<!-- edit modal-->
		<div th:each="alumno:${listaAlumnos}">
			<div class="modal fade" th:id="modal-edit+${alumno.id}">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header theme-header">
							<h4 class="modal-title" id="exampleModalLabel">Modificar</h4>
							<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">x</span>
							</button>
						</div>
						<div class="modal-body theme">
							<p class="error-text">Introduce la informacion nueva para el alumno/a:
								<strong><span th:text="${alumno.nombre}"> </span></strong>
							</p>
							<!--formulario nombre a editar-->
							<form action="#" th:action="@{/alumnos/edit/{id}(id=${alumno.id})}"
								th:object="${alumnoaEditar}" method="post" class="editModal">
								<div class"form-row">
									<div class="form-group mt-1">
										<label for="texto">Nombre</label>
										<input type="text" th:field="*{nombre}" class="form-control campo-form exampleInputName"
											th:attr="placeholder=${alumno.nombre}" />

										<label for="texto">Apellidos</label>
										<input type="text" th:field="*{apellidos}" class="form-control campo-form"
											id="exampleInputSurname" th:attr="placeholder=${alumno.apellidos}" />

										<label for="texto">Notas</label>
										<input type="text" th:field="*{notas}" class="form-control campo-form notes"
											th:attr="placeholder=${alumno.notas}" />
									</div>
								</div>
						</div>
						<div class="modal-footer theme-header">
							<button class="btn btn-secondary btn-sm" data-dismiss="modal"
								aria-hidden="true">Cancelar</button>
							<input type="submit" value="Modificar" class="btn btn-primary float-right sent" />
						</div>
						</form>
					</div>
				</div>
			</div>


		</div>
		<!-- fin edit modal-->

	</div>
</body>
<script th:src="@{/static/js/editFormAlumnos.js}"></script>
<script th:src="@{/static/js/validaForm.js}"></script>

</html>
