<!DOCTYPE html>

<head th:insert="librerias::librerias">

</head>

<body class="container-fluid oscuro blue-letter">

	<div th:insert="top"></div>
	
	<div class="container">
		<header>
			
		</header>
		
		<div th:if="${alumnosBuscados.empty}">
		<h1>No hay alumnos que coincidan con tu búsqueda</h1>
		</div>
		
		<div th:unless="${alumnosBuscados.empty}" class="row col-5">
			<div class="col-9">
				<h5> Datos de los alumnos</h5>
				<div class="card border border primary oscuro-panel" th:each="alumno:${alumnosBuscados}">
					<div class="card-body row pt-4 pb-4">
						<div class="col-12">
							<div class="card">
								<div class="card-header text-dark bg-light oscuro-header blue-letter">Datos del alumno

								</div>
								<div class="card-body oscuro blue-letter">
									<div class="mb-2">
										<h5 th:text="${alumno.nombre}+' '+${alumno.apellidos}" class="mb-2 card-text">Nombre del alumno</h5>
									</div>
									<p><a th:href="@{/alumnos/{id}(id=${alumno.id})}" class="btn btn-primary mt-3">Ver más</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>