<!DOCTYPE html>

<head th:insert="librerias::librerias">
</head>

<body>

	<div th:insert="top"></div>

	<div class="container">
		<header>

		</header>
		<div class="row pl-5 pr-5">
			<div class="col-9">
				<h5> Ficha de alumno </h5>
				<div class="card border border primary" th:object="${alumnoMostrar}">
					<div class="card-body row pt-4 pb-4">
						<div class="col-7">
							<div class="card">
								<div class="card-header text-dark bg-light">Ficha del alumno

								</div>
								<div class="card-body">
									<div id="respuestaAjax">

									</div>

									<form id="formAjax" th:action="@{/alumnos/edit/{id}(id=${alumnoMostrar.id})}"
										method="POST">

										<input th:field=*{nombre} name="nombre" id="nombreAjax" type="text"
											class="form-control" th:attr="placeholder=${alumnoMostrar.nombre}">

										<p><a th:href="@{/alumnos}" class="btn btn-danger mt-3">Cerrar</a></p>
										<p><a th:href="@{/alumnosRest/{id}(id=${alumnoMostrar.id})}"
												class="btn btn-warning mt-3">Consulta JSON</a></p>

										<input type="submit" value="Edit normal" class="btn btn-primary float-right">
										<button id="editAjax" type="submit" class="btn btn-success">Guardar
											Ajax</button>



									</form>
									<p><a th:href="@{/alumnos}" class="btn btn-primary mt-3">Cerrar</a></p>
								</div>
							</div>
						</div>
						<div class="col-5">
							<div class="card">
								<div class="card-header text-dark bg-light">Datos del alumno
								</div>
								<div class="card-body">
									<span>
										<span>ID: <p id="idAjax" th:text="${alumnoMostrar.id}"
												class="card-text mb-2 card-text"></p></span>
									</span>

									<span>
										<span>Nombre:<p th:text="${alumnoMostrar.nombre}"
												class="card-text mb-2 card-text"></p></span>
									</span>
									<span>
										<span>Apellidos:<p th:text="${alumnoMostrar.Apellidos}"
												class="card-text mb-2 card-text"></p></span>
									</span>
									<span>
										<span>DNI:<p th:text="${alumnoMostrar.dni}" class="card-text mb-2 card-text">
											</p></span>
									</span>
									<span>
										<span>Profesor:<p
												th:text="${alumnoMostrar.profesor.nombre}+' '+${alumnoMostrar.profesor.apellidos}"
												class="card-text mb-2 card-text"></p></span>
									</span>
									<span>
										<span>Coche:<p
												th:text="${alumnoMostrar.coche.marca}+' '+${alumnoMostrar.coche.modelo}"
												class="card-text mb-2 card-text"></p></span>
									</span>
								</div>
							</div>
						</div>

						<div sec:authorize="!hasAnyAuthority('ROLE_TEACHER','ROLE_ADMIN')" class="col-5 mt-3">
							<div class="card">
								<div class="card-header text-dark bg-light">Notas
								</div>
								<div class="card-body">
									<span>
										<span>
											<p th:text="${alumnoMostrar.notas}" class="card-text mb-2 card-text"></p>
										</span>
									</span>

								</div>
							</div>
						</div>

						<div sec:authorize="hasAnyAuthority('ROLE_TEACHER','ROLE_ADMIN')" class="col-5 mt-3">
							<div class="card">
								<div class="card-header text-dark bg-light">Notas
								</div>
								<div class="card-body">
									<span>
										<form th:action="@{/alumnos/edit/{id}(id=${alumnoMostrar.id})}" method="POST"
											class="d-flex justify-content-end">
											<div class="input-group">
												<textarea th:field="*{notas}" class="form-control"
													th:attr="placeholder=${alumnoMostrar.notas}"></textarea>
												<button type="submit" class="btn btn-primary">Enviar</button>
											</div>
										</form>

									</span>

								</div>
							</div>
						</div>

						<div class="col-5 mt-3 ms-auto">
							<div th:each="clase, iter : ${listaClases}" class="accordion accordion-flush"
								th:id="'accordionFlushExample-' + ${iter.index}">
								<div class="accordion-item border" th:name="${clase.id}">
									<h2 class="accordion-header">
										<button class="accordion-button collapsed" type="button"
											data-bs-toggle="collapse"
											th:data-bs-target="'#flush-collapse-' + ${iter.index}" aria-expanded="false"
											th:aria-controls="'flush-collapse-' + ${iter.index}"
											th:text="'Clase del '+${clase.fecha}">

										</button>
									</h2>
									<div th:id="'flush-collapse-' + ${iter.index}" class="accordion-collapse collapse"
										th:data-bs-parent="'#accordionFlushExample-' + ${iter.index}">
										<div class="accordion-body"
											th:text="'Clase a las ' + ${#temporals.format(clase.hora, 'HH:mm')} + ' con ' + ${clase.profesor.nombre} + ' ' + ${clase.profesor.apellidos} + ' y el coche ' + ${clase.coche.marca} + ' ' + ${clase.coche.modelo}">
										</div>

									</div>
								</div>
							</div>
							<div class="d-flex justify-content-evenly">
								<button th:attr="data-target='#modal-create-class'" data-toggle="modal"
									data-target="#modal-create-class" class="btn btn-primary float-end mt-3">
									Añadir clase
								</button>
								<button id="btn-borrar" class="btn btn-danger mt-3">
									Borrar Clases
								</button>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
		<div class="modal fade" th:id="modal-create-class">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="exampleModalLabel">Crear</h4>
						<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">x</span>
						</button>
					</div>
					<div class="modal-body">
						<p class="error-text">Introduce la informacion para la clase
						</p>
						<!--formulario nombre a editar-->
						<form action="#" th:action="@{/clases/add}" th:object="${claseNueva}" method="post"
							class="editModal">
							<div class"form-row">
								<div class="form-group mt-1">
									<label for="texto">Fecha</label>
									<input type="date" th:field="*{fecha}" class="form-control exampleInputName" />

									<label for="texto">Hora</label>
									<input type="time" th:field="*{hora}" class="form-control"
										id="exampleInputSurname" />
								</div>
							</div>
					</div>
					<div class="modal-footer">
						<button class="btn btn-secondary btn-sm" data-dismiss="modal"
							aria-hidden="true">Cancelar</button>
						<input type="submit" value="Modificar" class="btn btn-primary float-right sent" />
					</div>
					</form>
				</div>
			</div>
		</div>
	</div>

</body>
<script th:src="@{/js/alumnoScript.js}"></script>
</html>