<!DOCTYPE html>
<html>

<head th:insert="librerias::librerias">
	<title>Cambio de Contraseña</title>

</head>

<body>
	<div th:insert="top"></div>
	<div class="container-fluid">
		<div class="row">
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<ul class="nav nav-pills flex-column">
						<li class="nav-item">
							<a class="nav-link menu" id="data" aria-current="page" href="#"><span
									class="fas fa-user fa-sm fa-fw mr-3"></span>Mis datos</a>
						</li>
						<li class="nav-item">
							<a class="nav-link menu" id="contras" href="#"><span
									class="fas fa-lock fa-sm fa-fw mr-3"></span>Contraseña</a>
						</li>
						<li class="nav-item">
							<a class="nav-link menu" id="prefer" href="#"><span
									class="fas fa-sliders-h fa-sm fa-fw mr-3"></span>Preferencias</a>
						</li>
						<li class="nav-item" sec:authorize="hasAuthority('ROLE_ADMIN')">
							<a class="nav-link menu" id="operat" href="#"><span
									class="fas fa-wrench fa-sm fa-fw mr-3"></span>Operaciones</a>
						</li>

					</ul>
				</div>
			</nav>

			<div class="col-md-10 ml-sm-auto px-4" id="datos">
				<h1>Mis datos</h1>
				<form action="#" th:action="@{/seguridad/password/changeData}" th:object="${usuarioActual}"
					class="w-50 p-3" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<label for="inputName">Nombre</label>
						<input type="text" th:field="*{nombre}" class="form-control" id="inputName"
							th:attr="placeholder=${usuarioActual.nombre}">
					</div>
					<div class="form-group">
						<label for="inputUsername">Nombre de usuario</label>
						<input type="text" th:field="*{username}" class="form-control" id="inputUsername"
							th:attr="placeholder=${usuarioActual.username}">
					</div>
					<div class="form-group">
						<label for="imagenPerfil">Imagen de perfil:</label>
						<input type="file" class="form-control-file" id="imagenPerfil" name="imagen" accept="image/*">
					</div>

					<button type="submit" class="btn btn-primary mt-3 float-end">Editar</button>
				</form>
			</div>

			<div class="col-md-10 ml-sm-auto px-4" id="passwd">
				<h1>Cambio de Contraseña</h1>
				<form action="#" th:action="@{/seguridad/password/changePassword}" th:object="${usuarioPassword}"
					class="w-50 p-3" method="post">
					<div class="form-group">
						<label for="inputPassword">Contraseña Actual</label>
						<input type="password" th:field="*{actual}" class="form-control" id="inputPassword"
							placeholder="Contraseña Actual">
					</div>
					<div class="form-group">
						<label for="inputNewPassword">Nueva Contraseña</label>
						<input type="password" th:field="*{nueva}" class="form-control" id="inputNewPassword"
							placeholder="Nueva Contraseña">
					</div>
					<div class="form-group">
						<label for="inputConfirmPassword">Confirmar Nueva Contraseña</label>
						<input type="password" th:field="*{confirm}" class="form-control" id="inputConfirmPassword"
							placeholder="Confirmar Nueva Contraseña">
					</div>
					<button type="submit" class="btn btn-primary mt-3 float-end">Cambiar Contraseña</button>
				</form>
			</div>

			<div class="col-md-10 ml-sm-auto px-4" id="operaciones">
				<h2>Operaciones</h2>
				<div class="col">
					<div class="col">
						<h4>Alumnos</h4>
						<div class="d-flex w-75 justify-content-around">
							<button type="button" class="btn btn-primary col-md-2" data-toggle="modal"
								data-target="#crearAlumno">Insertar</button>
							<button type="button" class="btn btn-danger col-md-2" data-toggle="modal"
								data-target="#modal-delete-alumno">Eliminar</button>
							<button type="button" class="btn btn-warning col-md-3" data-toggle="modal"
								data-target="#modal-search-alumno">Buscar por nombre</button>
							<button type="button" class="btn btn-warning col-md-3" data-toggle="modal"
								data-target="#modal-search-Dni-alumno">Buscar por DNI</button>
						</div>
					</div>
					<div class="col">
						<h4>Profesores</h4>
						<div class="d-flex w-75 justify-content-around">
							<button type="button" class="btn btn-primary col-md-2" data-toggle="modal"
								data-target="#crearProfe">Insertar</button>
							<button type="button" class="btn btn-danger col-md-2" data-toggle="modal"
								data-target="#modal-delete-profesor">Eliminar</button>
							<button type="button" class="btn btn-warning col-md-3" data-toggle="modal"
								data-target="#modal-search-profesor">Buscar por nombre</button>
							<button type="button" class="btn btn-warning col-md-3" data-toggle="modal"
								data-target="#modal-search-Dni-profesor">Buscar por DNI</button>
						</div>
					</div>
					<div class="col">
						<h4>Coches</h4>
						<div class="d-flex w-75 justify-content-around">
							<button type="button" class="btn btn-primary col-md-2" data-toggle="modal"
								data-target="#crearCoche">Insertar</button>
							<button type="button" class="btn btn-danger col-md-2" data-toggle="modal"
								data-target="#modal-delete-coche">Eliminar</button>
							<button type="button" class="btn btn-warning col-md-3" data-toggle="modal"
								data-target="#modal-search-marca-coche">Buscar por marca</button>
							<button type="button" class="btn btn-warning col-md-3" data-toggle="modal"
								data-target="#modal-search-matricula-coche">Buscar por matrícula</button>
						</div>
					</div>
					<div class="col">
						<h4>Usuarios</h4>
						<div class="d-flex w-75 justify-content-around">
							<button type="button" class="btn btn-primary col-md-2" data-toggle="modal"
								data-target="#crearUsuario">Insertar</button>
							<button type="button" class="btn btn-danger col-md-2" data-toggle="modal"
								data-target="#delete-usuario">Eliminar</button>
						</div>
					</div>
				</div>
			</div>

			<!-- create alumno modal-->
			<div class="modal fade" id="crearAlumno">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="exampleModalLabel">Crear alumno/a</h4>
							<button class="close" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">x</span>
							</button>
						</div>
						<div class="modal-body">
							<p class="error-text">Introduce el nombre para nuevo/a alumno/a:
								<!--formulario nombre a editar-->
							<form action="#" th:action="@{/seguridad/password/addAlumno}" th:object="${alumnoNuevo}"
								method="post">
								<div class"form-row">
									<div class="form-group mt-1">
										<label for="dni">Dni</label>
										<input type="text" th:field="*{dni}" class="form-control" id="dni"
											placeholder="DNI" />
										<label for="nombre">Nombre</label>
										<input type="text" th:field="*{nombre}" class="form-control" id="nombre"
											placeholder="Nombre" />
										<label for="apellidos">Apellidos</label>
										<input type="text" th:field="*{apellidos}" class="form-control" id="apellidos"
											placeholder="Apellidos" />
										<div>
											<label for="profe">Profesor</label>
											<select th:field="*{profesor.id}" name="profesor" id="profe">
												<option th:each="profe:${listaProfesores}" th:value="${profe.id}"
													th:text="${profe.nombre}" value="">Seleccionar profesor</option>
											</select>
										</div>
										<div>
											<label for="coche">Coche</label>
											<select th:field="*{coche.id}" name="profesor" id="coche">
												<option th:each="coche:${listaCoches}" th:value="${coche.id}"
													th:text="${coche.marca}+'-'+${coche.matricula}" value="">Seleccionar
													coche
												</option>
											</select>
										</div>
									</div>
								</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary btn-sm" data-dismiss="modal"
								aria-hidden="true">Cancelar</button>
							<input type="submit" value="Crear" class="btn btn-primary float-right" />
						</div>
						</form>
					</div>
				</div>
			</div>
			<!-- fin create modal-->

			<!--delete modal alumno-->
			<div class="modal fade" th:id="modal-delete-alumno">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="exampleModalLabel">Eliminar Alumno</h4>
							<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">x</span>
							</button>
						</div>
						<div class="modal-body">
							<p class="error-text">Introduce el ID del alumno a eliminar</p>


							<!--formulario nombre-->
							<form action="#" th:action="@{/seguridad/password/deleteAlumno}"
								th:object="${alumnoaEliminar}" method="get">
								<div class"form-row">
									<div class="form-group mt-1">
										<label for="texto">ID</label>
										<input type="text" th:field="*{id}" class="form-control"
											id="exampleInputName" />
									</div>
								</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary btn-sm" data-dismiss="modal"
								aria-hidden="true">Cancelar</button>
							<input id="sent" type="submit" th:value="Buscar" class="btn btn-primary float-right" />
						</div>
						</form>
					</div>
				</div>
			</div>

			<!-- fin delete modal alumno-->

			<!-- buscar por nombre modal alumno-->
			<div class="modal fade" th:id="modal-search-alumno">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="exampleModalLabel">Buscar Alumno</h4>
							<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">x</span>
							</button>
						</div>
						<div class="modal-body">
							<p class="error-text">Introduce el nombre para buscar</p>


							<!--formulario nombre-->
							<form action="#" th:action="@{/seguridad/password/searchAlumnoByName}"
								th:object="${alumnoaBuscar}" method="post">
								<div class"form-row">
									<div class="form-group mt-1">
										<label for="texto">Nombre</label>
										<input type="text" th:field="*{nombre}" class="form-control"
											id="exampleInputName" />
									</div>
								</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary btn-sm" data-dismiss="modal"
								aria-hidden="true">Cancelar</button>
							<input id="sent" type="submit" th:value="Buscar" class="btn btn-primary float-right" />
						</div>
						</form>
					</div>
				</div>
			</div>
			<!-- fin modal buscar por nombre alumno-->

			<!-- buscar por dni modal alumno-->
			<div class="modal fade" th:id="modal-search-Dni-alumno">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="exampleModalLabel">Buscar Alumno</h4>
							<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">x</span>
							</button>
						</div>
						<div class="modal-body">
							<p class="error-text">Introduce el DNI para buscar</p>


							<!--formulario dni-->
							<form th:action="@{/seguridad/password/searchAlumnoByDni}" th:object="${alumnoaBuscar}"
								method="post">
								<div class"form-row">
									<div class="form-group mt-1">
										<label for="texto">DNI</label>
										<input type="text" th:field="*{dni}" class="form-control"
											id="exampleInputDni" />
									</div>
								</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary btn-sm" data-dismiss="modal"
								aria-hidden="true">Cancelar</button>
							<input id="sentDni" type="submit" th:value="Buscar" class="btn btn-primary float-right" />
						</div>
						</form>
					</div>
				</div>
			</div>
			<!-- fin modal buscar por dni alumno-->


			<!--create modal-profesor-->
			<div class="modal fade" id="crearProfe">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="exampleModalLabel">Crear profesor/a</h4>
							<button class="close" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">x</span>
							</button>
						</div>
						<div class="modal-body">
							<p class="error-text">Introduce el nombre para el nuevo profesor
								<!--formulario nombre a editar-->
							<form action="#" th:action="@{/seguridad/password/addProfesor}" th:object="${profeNuevo}"
								method="post">
								<div class"form-row">
									<div class="form-group mt-1">
										<label for="dni">Dni</label>
										<input type="text" th:field="*{dni}" class="form-control" id="dni"
											placeholder="DNI" />
										<label for="nombre">Nombre</label>
										<input type="text" th:field="*{nombre}" class="form-control" id="nombre"
											placeholder="Nombre" />
										<label for="apellidos">Apellidos</label>
										<input type="text" th:field="*{apellidos}" class="form-control" id="apellidos"
											placeholder="Apellidos" />

									</div>
								</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary btn-sm" data-dismiss="modal"
								aria-hidden="true">Cancelar</button>
							<input type="submit" value="Crear" class="btn btn-primary float-right" />
						</div>
						</form>
					</div>
				</div>
			</div>
			<!-- fin create modal-->

			<!--delete modal profesor-->
			<div class="modal fade" th:id="modal-delete-profesor">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="exampleModalLabel">Eliminar Profesoer</h4>
							<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">x</span>
							</button>
						</div>
						<div class="modal-body">
							<p class="error-text">Introduce el ID del profesor a eliminar</p>


							<!--formulario id-->
							<form action="#" th:action="@{/seguridad/password/deleteProfesor}"
								th:object="${profeaEliminar}" method="get">
								<div class"form-row">
									<div class="form-group mt-1">
										<label for="texto">ID</label>
										<input type="text" th:field="*{id}" class="form-control"
											id="exampleInputName" />
									</div>
								</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary btn-sm" data-dismiss="modal"
								aria-hidden="true">Cancelar</button>
							<input id="sent" type="submit" th:value="Buscar" class="btn btn-primary float-right" />
						</div>
						</form>
					</div>
				</div>
			</div>

			<!-- fin delete modal profesor-->

			<!-- buscar por nombre modal profesor-->
			<div class="modal fade" th:id="modal-search-profesor">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="exampleModalLabel">Buscar Profesor</h4>
							<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">x</span>
							</button>
						</div>
						<div class="modal-body">
							<p class="error-text">Introduce el nombre para buscar</p>


							<!--formulario nombre-->
							<form action="#" th:action="@{/seguridad/password/searchProfesorByName}"
								th:object="${profeaBuscar}" method="post">
								<div class"form-row">
									<div class="form-group mt-1">
										<label for="texto">Nombre</label>
										<input type="text" th:field="*{nombre}" class="form-control"
											id="exampleInputName" />
									</div>
								</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary btn-sm" data-dismiss="modal"
								aria-hidden="true">Cancelar</button>
							<input id="sent" type="submit" th:value="Buscar" class="btn btn-primary float-right" />
						</div>
						</form>
					</div>
				</div>
			</div>
			<!-- fin modal buscar por nombre profesor-->

			<!-- buscar por dni modal profesor-->
			<div class="modal fade" th:id="modal-search-Dni-profesor">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="exampleModalLabel">Buscar Profesor</h4>
							<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">x</span>
							</button>
						</div>
						<div class="modal-body">
							<p class="error-text">Introduce el DNI para buscar</p>


							<!--formulario dni-->
							<form th:action="@{/seguridad/password/searchProfesorByDni}" th:object="${profeaBuscar}"
								method="post">
								<div class"form-row">
									<div class="form-group mt-1">
										<label for="texto">DNI</label>
										<input type="text" th:field="*{dni}" class="form-control"
											id="exampleInputDni" />
									</div>
								</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary btn-sm" data-dismiss="modal"
								aria-hidden="true">Cancelar</button>
							<input id="sentDni" type="submit" th:value="Buscar" class="btn btn-primary float-right" />
						</div>
						</form>
					</div>
				</div>
			</div>
			<!-- fin modal buscar por dni profesor-->

			<!--create modal coche-->

			<div class="modal fade" id="crearCoche">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="exampleModalLabel">Crear coche/a</h4>
							<button class="close" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">x</span>
							</button>
						</div>
						<div class="modal-body">
							<p class="error-text">Introduce el nombre para el nuevo coche
								<!--formulario nombre a editar-->
							<form action="#" th:action="@{/seguridad/password/addCoche/}" th:object="${cocheNuevo}"
								method="post">
								<div class"form-row">
									<div class="form-group mt-1">
										<label for="Marca">Marca</label>
										<input type="text" th:field="*{marca}" class="form-control" id="marca"
											placeholder="marca" />
										<label for="matricula">Matricula</label>
										<input type="text" th:field="*{matricula}" class="form-control" id="matricula"
											placeholder="matricula" />
										<label for="modelo">Modelo</label>
										<input type="text" th:field="*{modelo}" class="form-control" id="modelo"
											placeholder="modelo" />
										<label for="fecha">Fecha ITV</label>
										<input type="date" th:field="*{fechaITV}" class="form-control" id="fecha"
											placeholder="fechaITV" />

									</div>
								</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary btn-sm" data-dismiss="modal"
								aria-hidden="true">Cancelar</button>
							<input type="submit" value="Crear" class="btn btn-primary float-right" />
						</div>
						</form>
					</div>
				</div>
			</div>
			<!-- fin create modal coche-->

			<!--delete modal coche-->
			<div class="modal fade" th:id="modal-delete-coche">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="exampleModalLabel">Eliminar Coche</h4>
							<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">x</span>
							</button>
						</div>
						<div class="modal-body">
							<p class="error-text">Introduce el ID del coche a eliminar</p>


							<!--formulario id-->
							<form action="#" th:action="@{/seguridad/password/deleteCoche}"
								th:object="${profeaEliminar}" method="get">
								<div class"form-row">
									<div class="form-group mt-1">
										<label for="texto">ID</label>
										<input type="text" th:field="*{id}" class="form-control"
											id="exampleInputName" />
									</div>
								</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary btn-sm" data-dismiss="modal"
								aria-hidden="true">Cancelar</button>
							<input id="sent" type="submit" th:value="Buscar" class="btn btn-primary float-right" />
						</div>
						</form>
					</div>
				</div>
			</div>

			<!-- fin delete modal coche-->

			<!-- buscar por marca modal-->
			<div class="modal fade" th:id="modal-search-marca-coche">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="exampleModalLabel">Buscar Coche</h4>
							<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">x</span>
							</button>
						</div>
						<div class="modal-body">
							<p class="error-text">Introduce la marca para buscar</p>


							<!--formulario marca-->
							<form action="#" th:action="@{/seguridad/password/searchCochesByMarca}"
								th:object="${cocheaBuscar}" method="post">
								<div class"form-row">
									<div class="form-group mt-1">
										<label for="texto">Marca</label>
										<input type="text" th:field="*{marca}" class="form-control"
											id="exampleInputName" />
									</div>
								</div>

								<div class="modal-footer">
									<button class="btn btn-secondary btn-sm" data-dismiss="modal"
										aria-hidden="true">Cancelar</button>
									<input id="sent" type="submit" th:value="Buscar"
										class="btn btn-primary float-right" />
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- fin modal buscar por marca-->

			<!-- buscar por marca modal-->
			<div class="modal fade" th:id="modal-search-matricula-coche">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="exampleModalLabel">Buscar Coche</h4>
							<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">x</span>
							</button>
						</div>
						<div class="modal-body">
							<p class="error-text">Introduce la matricula para buscar</p>


							<!--formulario marca-->
							<form action="#" th:action="@{/seguridad/password/searchCocheByMatricula}"
								th:object="${cocheaBuscar}" method="post">
								<div class"form-row">
									<div class="form-group mt-1">
										<label for="texto">Matricula</label>
										<input type="text" th:field="*{matricula}" class="form-control"
											id="exampleInputName" />
									</div>
								</div>

								<div class="modal-footer">
									<button class="btn btn-secondary btn-sm" data-dismiss="modal"
										aria-hidden="true">Cancelar</button>
									<input id="sent" type="submit" th:value="Buscar"
										class="btn btn-primary float-right" />
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
			<!-- fin modal buscar por marca-->

			<!--create usuario modal-->
			<div class="modal fade" th:id="crearUsuario">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="exampleModalLabel">Insertar Usuario</h4>
							<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">x</span>
							</button>
						</div>
						<div class="modal-body">
							<p class="error-text">Introduce la informacion para el nuevo usuario</p>


							<form method="post" th:action="@{/seguridad/password/addUsuario}" th:object="${newUserDTO}">
								<div class="form-row">
									<div class="form-group col-8">
										<label for="inputnombre">Nickname</label>
										<input placeholder="Nombre" th:field="*{nombre}" type="text" id="nombre"
											name="nombre" required="true" class="form-control text-grape-900" />
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-8">
										<label for="inputnombre">Usuario/a</label>
										<input th:field="*{username}" placeholder="Usuario/a" type="text" id="username"
											name="username" required="true" class="form-control text-grape-900" />
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col-8">
										<label for="inputPass">Contraseña</label>
										<div class="input-group" id="show_hide_password">
											<input placeholder="Password" type="password" name="password" id="password"
												required="true" class="form-control text-grape-900" />
											<div class="input-group-text">
												<a href=""><i class="fa fa-eye-slash" aria-hidden="true"> </i></a>
											</div>
										</div>
									</div>
								</div>

								<div sec:authorize="hasAuthority('ROLE_ADMIN')" class="form-row">
									<div class="form-group col-8">
										<div class="form-check">
											<input class="form-check-input" type="checkbox" th:field="*{esProfesor}"
												id="esProfesor">
											<label class="form-check-label" for="esProfesor">
												Es profesor
											</label>
										</div>
									</div>
								</div>

								<div class="form-row" id="selectProfesor" style="display:none">
									<div class="form-group col-8">
										<label for="inputProfesor">Seleccione el profesor</label>
										<select class="form-control" th:field="*{idProfesor}" id="tipoProfesor">
											<option th:each="profe:${listaProfesores}" th:value="${profe.id}"
												th:text="${profe.nombre}"></option>
										</select>
									</div>
								</div>
								<div class="form-row m-auto">
									<input type="submit" value="Registrar" class="btn btn-primary float-right mt-3"
										th:href="@{/seguridad/password/addUsuario}" />
								</div>
							</form>
						</div>
					</div>

				</div>
			</div>

			<!--fin create modal usuario-->

			<!--delete usuario modal-->
			<div class="modal fade" th:id="delete-usuario">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="exampleModalLabel">Eliminar Usuario</h4>
							<button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">
								<span aria-hidden="true">x</span>
							</button>
						</div>
						<div class="modal-body">
							<p class="error-text">Selecciona el usuario que deseas eliminar</p>


							<form action="#" th:action="@{/seguridad/password/deleteUsuario}" th:object="${userDelete}"
								method="get">
								<div class"form-row">
									<div class="form-group mt-1">

										<div>
											<label for="user">Usuarios</label>
											<select th:field="*{id}" name="user" id="user">
												<option th:each="user:${listaUsuarios}" th:value="${user.id}"
													th:text="${user.nombre}" value="">Seleccionar Usuario</option>
											</select>
										</div>

									</div>
								</div>
						</div>
						<div class="modal-footer">
							<button class="btn btn-secondary btn-sm" data-dismiss="modal"
								aria-hidden="true">Cancelar</button>
							<input type="submit" value="Eliminar" class="btn btn-primary float-right" />
						</div>
						</form>
					</div>
				</div>

			</div>
			<!--fin delete modal usuario-->


		</div>
	</div>
</body>
<link rel="stylesheet" th:href="@{/css/contras.css}">
<script th:src="@{/js/seguridadScript.js}"></script>
<script th:src="@{/js/registroFormSelect.js}"></script>


</html>