<!DOCTYPE html>
<html lang="en">
<head th:insert="librerias::librerias">
<link rel="stylesheet" th:href="@{bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" th:href="@{static/css/API.css}">
<title>Inicio</title>
</head>

<body class="container-fluid theme">

	<div th:insert="top"></div>
    
    <h1 class="theme-letter">Bienvenido a tu Autoescuela</h1>

</body>
<script th:src="@{static/js/scriptAPI.js}"></script>
<script th:src="@{static/js/icono.js}"></script>
<link rel="stylesheet" th:href="@{static/css/API.css}">

</html>

