<div th:fragment="top">

	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark box-shadow">
		<div class="container">
			<!-- Logo -->
			<a class="navbar-brand" href="#">DriveStop</a>

			<!-- Botón para dispositivos móviles -->
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<!-- Contenedor de elementos del Navbar -->
			<div class="collapse navbar-collapse justify-content-center" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link text-gray-600" href="/" role="button">
							<i class="fas fa-home fa-sm fa-fw mr-3 text-gray-600"></i>
							Inicio
						</a>
					</li>
					<li sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_TEACHER')"
						class="nav-item dropdown no-arrow">
						<a class="nav-link text-gray-600" href="/alumnos" role="button">
							<i class="fas fa-graduation-cap fa-sm fa-fw mr-3 text-gray-600"></i>
							Alumnos
						</a>
					</li>

					<li sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_TEACHER')"
						class="nav-item dropdown no-arrow">
						<a class="nav-link text-gray-600" href="/profesores" role="button">
							<i class="fas fa-chalkboard-user fa-sm fa-fw mr-3 text-gray-600"></i>
							Profesores
						</a>
					</li>

					<li sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_TEACHER')"
						class="nav-item dropdown no-arrow">
						<a class="nav-link text-gray-600" href="/coches" role="button">
							<i class="fas fa-car fa-sm fa-fw mr-3 text-gray-600"></i>
							Coches
						</a>
					</li>
					
					<li sec:authorize="hasAnyAuthority('ROLE_ADMIN', 'ROLE_TEACHER', 'ROLE_USER')"
						class="nav-item dropdown no-arrow">
						<a class="nav-link text-gray-600" href="/calendario" role="button">
							<i class="fas fa-calendar-days fa-sm fa-fw mr-3 text-gray-600"></i>
							Calendario
						</a>
					</li>
					
					<li sec:authorize="hasAuthority('ROLE_TEACHER')"
						class="nav-item dropdown no-arrow">
						<a class="nav-link text-gray-600" href="/misAlumnos" role="button">
							<i class="fas fa-users fa-sm fa-fw mr-3 text-gray-600"></i>
							Mis alumnos
						</a>
					</li>

					<li sec:authorize="hasAuthority('ROLE_ADMIN')" class="nav-item dropdown no-arrow">
						<a class="nav-link text-gray-600" href="/usuarios" role="button">
							<i class="fas fa-user fa-sm fa-fw mr-3 text-gray-600"></i>
							Usuarios
						</a>
					</li>

					<li sec:authorize="isAuthenticated()" class="nav-item dropdown text-gray-900">

						<a class="nav-link dropdown-toggle text-gray-900" href="#" id="userDropdown" role="button"
							data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

							Hola: <span sec:authentication="principal.username" />

						</a>

						<!-- Dropdown - User Information -->
						<div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
							aria-labelledby="userDropdown">
							<a class="dropdown-item" href="/seguridad/password#contras">
								<i class="fas fa-lock fa-sm fa-fw mr-3 text-gray-600"></i>
								Contraseña
							</a>

							<a class="dropdown-item" href="/seguridad/password#data">
								<i class="fas fa-address-card fa-sm fa-fw mr-3 text-gray-600"></i>
								Configurar datos
							</a>
							<div class="dropdown-divider"></div>

							<div sec:authorize="hasAuthority('ROLE_ADMIN')">
								<a class="dropdown-item" href="/seguridad/password#operat">
									<i class="fas fa-cog fa-sm fa-fw mr-3 text-gray-600"></i>
									Operaciones Admin
								</a>
								<div class="dropdown-divider"></div>
							</div>
							<a class="dropdown-item" th:href="@{/logout}">
								<i class="fas fa-sign-out-alt fa-sm fa-fw mr-3 text-gray-600"></i>
								<span>Cerrar Sesión</span>
							</a>
						</div>
					</li>

					<li sec:authorize="isAnonymous()" class="nav-link  text-gray-600">
						<a class="btn btn-primary btn-sm  " href="/login">Iniciar Sesión</a>
					</li>
					<li sec:authorize="isAuthenticated()" class="nav-link  text-gray-600">
						<form th:action="@{/logout}" method="post">
							<input class="btn btn-primary btn-sm " type="submit" value="Sign Out" />
						</form>
					</li>


				</ul>
			</div>
		</div>
	</nav>
</div>